body{font-family: 'Titillium Web', sans-serif; background: rgb(0,3,15);
    background: linear-gradient(185deg, rgba(0,3,15,0) 7%, rgba(9,43,121,1) 81%, rgba(0,212,255,1) 100%);}

#prod{
    color:white;
    background:gray;
    padding: 50px 0 30px 0;
    text-align: center;
     margin-top: 40px;
}

header{
    /* position: fixed; */
    /* margin-top: 10px; */
    background-color:gray;
    margin-left: -8PX;
    padding: 50px;
    margin-top: 70PX;
    padding-left: 15px;
    color: white; 
    width: 100%;

}

aside{ 
    background: url(../img/data_center.jpg) no-repeat;
}

footer{

    color: white;
    background-color:gray;
}