body{font-family: 'Titillium Web', sans-serif; background: rgb(215, 250, 252);}

#prod{
    background: skyblue;
    padding: 50px 0 30px 0;
    text-align: center;
     margin-top: 40px;
}

header{
    /* position: fixed; */
    /* margin-top: 10px; */
    background-color:skyblue;
    margin-left: -8PX;
    padding: 50px;
    margin-top: 70PX;
    padding-left: 15px;
    /* color: white; */
    width: 100%;

}

aside{ 
    background: url(../img/data_center.jpg) no-repeat;
}

footer{

    background-color:skyblue;
}